---
storage:
  files:
    - path: /etc/hostname
      filesystem: root
      mode: 0644
      contents:
        inline: |
          {{ .node_name }}
systemd:
  units:
    - name: docker.service
      enable: true
    - name: locksmithd.service
      mask: true
ignition:
  config:
    append:
      - source: http://matchbox.home.es.tnv:8080/ignition?profile=ssh-auth
